* {
	margin: 0;
	padding: 0;
}

#container {
	margin: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#choices {
	margin: 10px;
	display: flex;
	gap: 10px;
}

#scores {
	display: flex;
	gap: 5px;
	font-size: 48px;
	margin: 10px;
}

#text {
	margin: 10px;
	font-size: 24px;
}

#winnerText {
	margin: 10px;
	font-size: 36px;
}

#roundText {
	font-size: 64px;
	font-weight: bold;
}

#startRound {
	font-size: 64px;
	padding: 12px;
	background-color: #689f38;
	color: #c5e1a5;
	border-radius: 12px;
	border: none;
	margin: 10px;
	cursor: pointer;
}

#startRound:hover {
	background-color: #33691e;
}

.choice {
	font-size: 32px;
	padding: 4px;
	background-color: gray;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

.choice:hover {
	background-color: green;
}